<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Quiz Master - Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'start.css') }}">
  </head>
  <body class = "login">
    <div class = "lbox">
      <div class = "text">
        <h1>Welcome to Quiz Master</h1>
        <h3>Register</h3>
      </div>
      <br>
      <div class = "text">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for msg in messages %}
              <h5>--{{msg}}--</h5>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <br>
      <form method='POST'>
        <div class = "input">
          <input type = "email" placeholder = "Mail ID" name = "email">
        </div>
        <div class = "input">
          <input type = "password" placeholder = "Password" name = "pwd">
        </div>
        <div class = "input">
            <input type = "password" placeholder = "Retype Password" name = "rpwd">
        </div>
        <div class = "input">
            <input type = "text" placeholder = "Full Name" name = "nm">
        </div>
        <div class = "input">
            <input type = "date" placeholder = "Date of Bith" name = "dob">
        </div>  
        <center>
        <input type = "submit" class = "btn">
        </center>
        <div class = "Next">
          <a href = "{{ url_for('UserLogin') }}">Existing User?</a>
        </div>
      </form>
    </div>
  </body>
</html>